html, body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
#masthead-div{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.masthead-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img-div{
    height: 120%;
    width: 120%;
    position: absolute;
    z-index: -999;
    overflow: hidden;
    left: 0;
    top: 0;
    opacity: 0;
    
    
}

#masthead-img-0{
    opacity: 1;
}